---
import defaultImage from '../assets/images/logo-blog-micro.png';

interface Props {
	title: string,
	url: URL | string,
	description: string,
	tags?: string[],
	image?: string,
	css?: string[],
}

const { title, url, description, tags = [], image, css = [] } = Astro.props;
---
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="canonical" href={url.toString()} />
	<link rel="alternate" type="application/rss+xml" href={`${Astro.site}feed.xml`} title="Marco Campos' Blog" />

	<title>{title}</title>

	<!-- App Metadata -->
	<link rel="icon" href={`${Astro.site}icons/favicon.svg`} />

	<!-- Social metadata -->
	<meta name="keywords" itemprop="keywords" content={tags.join(', ')} />

	<meta property="og:title" name="twitter:title" itemprop="name" content={title} />
	<meta property="og:description" name="description" itemprop="abstract" content={description} />
	<meta property="og:image" name="twitter:image" itemprop="image" content={image ?? defaultImage.src} />
	<meta property="og:type" content="website" />
	<meta property="og:locale" itemprop="inLanguage" content="en_US" />
	<meta property="og:url" itemprop="url" content={url.toString()} />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:dnt" content="on">

	<meta name="pinterest" content="nopin">

	<!-- Styles -->
	{css.map((src) => <link rel="stylesheet" href={src} />)}
</head>
